@import url('https://fonts.googleapis.com/css2?family=Play&family=Share+Tech+Mono&family=Silkscreen&family=Source+Code+Pro&family=Tomorrow&display=swap');

/* 
font-family: 'Play', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Silkscreen', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Tomorrow', sans-serif;
*/

/*
background-color: #000000;
opacity: 0.8;
background-image: radial-gradient(#ffffff 0.4px, #000000 0.4px);
background-size: 8px 8px;
*/

:root {
    --havaqBlue: rgb(0, 179, 255);
    --havaqBlack: rgb(0, 7, 16);
    --havaqRed: rgb(255, 0, 55);
    --havaqWhite: rgb(220, 255, 240);
    --havaqRedGlitch: rgba(255, 0, 55, 0.500);
    --havaqBlueGlitch: rgba(0, 179, 255, 0.500);
    --havaqRedGlow: rgba(255, 0, 55, 0.700);
    --havaqBorderWhite: 1px solid var(--havaqWhite);
    --havaqOutlineWhite: 1px solid var(--havaqWhite);
}

body {
    background-image: radial-gradient(rgba(255, 255, 255, 0.35) .5px, transparent .5px);
    background-size: 8px 8px;
    background-color: var(--havaqBlack);
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    font-family: 'Tomorrow', sans-serif;
    color: var(--havaqRed);
}

hr { 
    width: 50%;
    margin-top: -8px;
    margin-bottom: -8px;
}

h1 {
    font-family: 'Tomorrow', sans-serif;
    color: var(--havaqRed);
}

p.hq-bible-verse {
    margin: 1vh;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: .8em;
    color: var(--havaqWhite);
}

div.hq-container {
    display: block;
    margin: 0;
    height: 100vh;
    min-height: 100%;
    text-align: center;
    /*background-color: #000000;*/
    border: var(--havaqBorderWhite);
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.hq-logo-text {
    letter-spacing: 20px;
    padding-left: 20px;
}

img.hq-logo {
    height: 200px;
    margin: -30px;
    filter: drop-shadow(0px 0px 10px var(--havaqRedGlow))
}

p.hq-center-text {
    text-align: center;
    width: 100%;
    color: var(--havaqWhite);
    font-weight: bold;
    font-size: 3em;
    /*text-transform: uppercase;*/
    margin: 0;
    padding: 0;
}

div.hq-card {
    margin: auto;
    max-width: 35em;
    padding: 2em;
    background-color: var(--havaqBlack);
    border: var(--havaqBorderWhite);
}

div.hq-card::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0px 5px 10px;
    border-color: transparent transparent transparent var(--havaqWhite);
}

#about p{
    font-size: 18px;
    color: var(--havaqWhite);
}