.container {
    margin: auto;
    width: 50%;
    height: 100%;
}

/* Phones (Don't you guys have phones?) */
@media only screen and (max-width: 600px) {
    .container {
        margin: auto;
        width: 100%;
    }

    p {
        font-size: 40pt;
    }
}

/* Large phones and small tablets */
@media only screen and (min-width: 600px) {
    .container {
        margin: auto;
        width: 100%;
    }

    p {
        font-size: 40pt;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .container {
        margin: auto;
        width: 90%;
    }

    p {
        font-size: 32pt;
    }
}

/* Laptops & Desktops */
@media only screen and (min-width: 992px) {
    .container {
        margin: auto;
        width: 50%;
    }

    p {
        font-size: 24pt;
    }
}

/* Big boi devices */
@media only screen and (min-width: 1200px) {
    .container {
        margin: auto;
        width: 600px;
    }

    p {
        font-size: 24pt;
    }
}

body {
    background-color: black;
    margin: 5% auto;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    letter-spacing: 7px;
    color: rgb(000, 255, 240);
    text-shadow: 0px 0px 12px rgb(000, 000, 000);
}

div.headerIcon {
    margin: auto;
    max-width: 40%;
    /*
    border: 1px solid aquamarine;
    */
}

div.headerIcon img {
    max-width: 100%;
    max-height: 100%;
}

div.headerAt {
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

div.linkCard {
    margin: 0 auto;
    max-width: 90%;
    /*
    text-align: center;
    border: 1px solid aquamarine;
    */
}

div.cardButton p {
    margin: 0 auto;
    padding: 5%;
    color: rgb(000, 255, 240);
    font-weight: 300;
    /*font-variant-caps: ;*/
    text-transform: lowercase;
    text-shadow: 0px 0px 25px rgb(000, 255, 240, 0.200);
}

div.cardButton {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(000, 255, 240);
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 238, 0.100);
    transition: border-radius .4s, background-color .8s, color .8s;
}

div.cardButton:hover, div.cardButton p:hover {
    font-weight: 600;
    color: black;
    background-color: rgb(000, 255, 240);
    border-radius: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: border-radius .4s, background-color .8s, color .8s;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}