.container {
    margin: auto;
    height: 100%;
    max-height: 800px;
	width: 100%;
    max-width: 400px;
}

body {
    background-color: black;
    margin: 5% auto;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 16pt;
    letter-spacing: 5px;
    color: rgb(000, 255, 240);
    text-shadow: 0px 0px 12px rgb(000, 000, 000);
}

div.headerIcon {
    margin: auto;
    max-width: 400px;
    text-align: center;
    /*
    border: 1px solid aquamarine;
    */
}

div.headerIcon img {
    max-width: 200px;
    margin: 0;
}

div.headerAt {
    margin: auto;
    max-width: 300px;
    border-radius: 5px;
    background-color: black;
}

div.linkCard {
    margin: 0 auto;
    max-width: 400px;
    /*
    text-align: center;
    border: 1px solid aquamarine;
    */
}

div.cardButton p {
    margin: 0 auto;
    padding: 24px;
    color: rgb(000, 255, 240);
    font-weight: 300;
    font-size: 16pt;
    /*font-variant-caps: ;*/
    text-transform: lowercase;
    text-shadow: 0px 0px 25px rgb(000, 255, 240, 0.200);
}

div.cardButton {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid rgb(000, 255, 240);
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 238, 0.100);
}

div.cardButton::after {
    height: 0;
    width: 125px;
    content:"";
    position: absolute;
    border-top: transparent 30px;
    border-right: solid 2px #000;
}

div.cardButton:hover, div.cardButton p:hover {
    font-weight: 600;
    color: black;
    background-color: rgb(000, 255, 240);
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}