.hq-links {
    margin: auto;
}

.hq-links-item {
    display: inline-block;
    background-color: black;
    outline: var(--havaqOutlineWhite);
    width: 200px;
    height: 200px;
    padding: 0;
    margin: -2px;
    transition: 200ms;
    overflow: hidden;
}

.hq-links-item:hover {
    background-color: var(--havaqRed);
    outline: var(--havaqOutlineWhite);
}

.hq-links-item img {
    position: relative;
    top: 10%;
    width: 10em;
    overflow: hidden;
}