ul.hq-nav {
    visibility: show;
    display: flex;
    justify-content: center;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    word-wrap: normal;
    outline: var(--havaqOutlineWhite);
    background-color: var(--havaqBlack);
}

li.hq-dummy-block {
    width: 25%;
}

li.hq-nav-button {
    float: left;
    flex-grow: 2;
    background-color: var(--havaqBlack);
    outline: var(--havaqOutlineWhite);
    transition: 200ms;
}

li.hq-nav-button-active {
    float: left;
    flex-grow: 2;
    background-color: var(--havaqWhite);
    color: var(--havaqBlack);
}

li.hq-nav-button:hover {
    background-color: var(--havaqWhite);
}

/*
li.hq-nav-button p:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 500px;
    top: 11px;
    height: 0;
    width: 0;
    margin-right: 10px;
	border-bottom: 10px solid transparent;
    border-left: 15px solid var(--havaqBlack);
    border-top: 10px solid transparent;
}
*/

li.hq-nav-button p {
    margin-left: -10px;
}

li.hq-nav-button p:hover {
    color: black;
    transition-duration: 0.2s;
    animation: glitch-hover 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

li.hq-nav-button span:hover {
    color: black;
}

span.nav-text {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 20px;
    animation: glitch 2s infinite;
}

span.triangle {
    color: var(--havaqBlack);
}