/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        max-height: 100vh;
        max-width: 100vw;
        margin: 0;
    }

    div.hq-card {
        visibility: show;
        margin-top: 2vh;
        padding: 6vh;
        max-height: 90vh;
        max-width: 90vw;
    }

    div.hq-div-nav {
        visibility: hidden;
        height: 0px;
    }

    div.hq-div-nav-mini {
        visibility: visible;
    }

    p.hq-bible-verse {
        font-size: .6em;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
    }

    div.hq-card {
        visibility: show;
        margin-top: 2vh;
        padding: 6vh;
    }

    div.hq-div-nav {
        visibility: hidden;
        height: 0px;
    }

    div.hq-div-nav-mini {
        visibility: visible;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
    }

    div.hq-card {
        visibility: show;
        margin-top: 2vh;
        padding: 4em;
        width: 32em;
        height: 32em;
    }

    div.hq-div-nav {
        visibility: hidden;
        height: 0px;
    }

    div.hq-div-nav-mini {
        visibility: visible;
    }
    
    ul.hq-nav-mini {
        visibility: hidden;
        height: 0px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
    }

    div.hq-card {
        visibility: show;
        margin-top: 2vh;
        padding: 5em;
        width: 34em;
        height: 34em;
    }

    div.hq-div-nav {
        visibility: visible;
    }

    div.hq-div-nav-mini {
        visibility: hidden;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
    }

    div.hq-card {
        visibility: show;
        margin-top: 2vh;
        padding: 5em;
        width: 38em;
        height: 38em;
    }

    div.hq-div-nav {
        visibility: visible;
    }

    div.hq-div-nav-mini {
        visibility: hidden;
    }
}