body {
    background-color: black;
    margin: 5% auto;
}

p {
    font-family: 'Jura', sans-serif;
    font-size: 20pt;
    color: aquamarine;
}

div.headerIcon {
    margin: auto;
    max-width: 200px;
    text-align: center;
    border: 1px solid aquamarine;
}

div.headerIcon img {
    width: 200px;
    margin: 0;
}

div.linkCard {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    /*border: 1px solid aquamarine;*/
}

button.cardButton {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    color: black;
    background-color: aquamarine;
    border: 0;
}

button.cardButton:hover {
    color: black;
    background-color: white;
}

